<h1>
  Welcome to {{ title }}!
</h1>
<h2> Here is our Sheeps Component:</h2>
<h2>{{ animal.Name }} Details</h2>
<div>
  <span>Id: </span>{{animal.Id}}
</div>
<div>
  <span>Name: </span>{{animal.Name}}
</div>
<div>
  <span>DateOfBirth: </span>{{animal.DOB}}
</div>
<div>
  <span>Gender: </span>{{animal.Gender}}
</div>
<div>
  <span>Awards: </span>{{animal.Awards}}
</div>
<div>
  <span>Last Vaccination: </span>{{animal.LastVaccination}}
</div>
<div>
  <span>Next Vaccination: </span>{{animal.NextVaccination}}
</div>
<div>
  <span>Last Vaccination Date: </span>{{animal.LastVaccDate}}
</div>
<div>
  <span>Next Vaccination Date: </span>{{animal.NextVaccDate}}
</div>
<div>
  <span>Comments: </span>{{animal.Comments}}
</div>
<app-sheeps></app-sheeps>

